.main
  text-align: center
  padding: 20px


  .form-group
  margin-bottom: 15px


label
  font-weight: bold


input
  width: 100%
  margin-top: 5px


button
  padding: 10px 20px
  margin-top: 10px
  cursor: pointer


#funcionarioList
  width: 100%
  border-collapse: collapse


#funcionarioList th, #funcionarioList td
  border: 1px solid #ddd
  padding: 8px
