<main class="main">
  <h1>CRUD de Funcionários</h1>

  <form id="funcionarioForm">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input [(ngModel)]="funcionarioSelecionado.nome" type="text" id="nome" name="nome" required placeholder="Digite o nome do funcionário">
    </div>

    <div class="form-group">
      <label for="cargo">Cargo:</label>
      <input [(ngModel)]="funcionarioSelecionado.cargo" type="text" id="cargo" name="cargo" required placeholder="Digite o cargo do funcionário">
    </div>

    <div class="form-group">
      <label for="salario">Salário:</label>
      <input [(ngModel)]="funcionarioSelecionado.salario" type="number" id="salario" name="salario" required placeholder="Digite o salário do funcionário">
    </div>

    <div class="form-group">
      <label for="departamento">Departamento:</label>
      <input [(ngModel)]="funcionarioSelecionado.departamento" type="text" id="departamento" name="departamento" required placeholder="Digite o departamento">
    </div>

    <div class="form-group">
      <label for="email">E-mail:</label>
      <input [(ngModel)]="funcionarioSelecionado.email" type="email" id="email" name="email" required placeholder="Digite o e-mail do funcionário">
    </div>

    <div class="form-group">
      <label for="telefone">Telefone:</label>
      <input [(ngModel)]="funcionarioSelecionado.telefone" type="text" id="telefone" name="telefone" required placeholder="Digite o telefone do funcionário">
    </div>

    <div class="div-buttons">
      <button type="submit" id="saveButton" (click)="addFuncionario()">Salvar</button>
      <button type="button" id="updateButton">Atualizar</button>
      <button type="button" id="deleteButton">Excluir</button>
    </div>
  </form>
</main>
